
body{
    line-height: 1.2;
}

h1{
    color: #545454;
    font-family: cursive;
    font-size: 105px;
    margin: 32px;
    letter-spacing: -1.68px;
    line-height: 1.1;
    text-shadow: 2px 2px 3px grey;
}

.loginContainer {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #97c79d;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-width: 2px;
    border-color: #545454;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loginField div {
    margin-bottom: 15px;
}

.loginInput {   
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    color:black;
    text-align: center;
    background-color: #dfe9f3;
}

.loginButton {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.createUserButton {
    width: 100%;
    padding: 10px;
    background-color: #545454;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}